In [1]:
## We are going to merge our two datasets (Happiness and Suicide) on the column 'country'

In [2]:
# bring in dependencies
import pandas as pd
import os
import csv

In [3]:
# reading in suicide csv and converting to dataframe

suicide = os.path.join("Resources","Suidice_Rate_Data","master.csv")
suicide_df = pd.read_csv(suicide)
suicide_df.head()

,country,year,sex,age,suicides_no,population,suicides/100k pop,country-year,HDI for year,gdp_for_year ($),gdp_per_capita ($),generation
0,Albania,1987,male,15-24 years,21,312900,6.71,Albania1987,NaN,"2,156,624,900",796,Generation X
1,Albania,1987,male,35-54 years,16,308000,5.19,Albania1987,NaN,"2,156,624,900",796,Silent
2,Albania,1987,female,15-24 years,14,289700,4.83,Albania1987,NaN,"2,156,624,900",796,Generation X
3,Albania,1987,male,75+ years,1,21800,4.59,Albania1987,NaN,"2,156,624,900",796,G.I. Generation
4,Albania,1987,male,25-34 years,9,274300,3.28,Albania1987,NaN,"2,156,624,900",796,Boomers

In [4]:
# filter DataFrame to only show rows from year 2015

suidice = suicide_df.set_index('country')

suidice2 = suidice.loc[suidice['year'] == 2015, :]

In [6]:
suidice2.head()

,year,sex,age,suicides_no,population,suicides/100k pop,country-year,HDI for year,gdp_for_year ($),gdp_per_capita ($),generation
country,,,,,,,,,,,
Antigua and Barbuda,2015,female,55-74 years,1,6403,15.62,Antigua and Barbuda2015,NaN,"1,364,863,037",14853,Boomers
Antigua and Barbuda,2015,female,15-24 years,0,8561,0.00,Antigua and Barbuda2015,NaN,"1,364,863,037",14853,Millenials
Antigua and Barbuda,2015,female,25-34 years,0,7740,0.00,Antigua and Barbuda2015,NaN,"1,364,863,037",14853,Millenials
Antigua and Barbuda,2015,female,35-54 years,0,15323,0.00,Antigua and Barbuda2015,NaN,"1,364,863,037",14853,Generation X
Antigua and Barbuda,2015,female,5-14 years,0,8239,0.00,Antigua and Barbuda2015,NaN,"1,364,863,037",14853,Generation Z

In [7]:
# setting up dataframe to be filtered by country, and set to sum so that we can calculate 
# values for a country's total population, suicide number, suicides per 100k population, gdp for year, and gdp per capita
cP = suidice2.groupby(['country']).sum()
suidice2[' gdp_for_year ($) '] = suidice2[' gdp_for_year ($) '].str.replace(',','')
suidice2[' gdp_for_year ($) '] = suidice2[' gdp_for_year ($) '].astype(float)

C:\ProgramData\Anaconda3\lib\site-packages\ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  after removing the cwd from sys.path.
C:\ProgramData\Anaconda3\lib\site-packages\ipykernel_launcher.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """

In [16]:
cP

,year,suicides_no,population,suicides/100k pop,HDI for year,gdp_per_capita ($)
country,,,,,,
Antigua and Barbuda,24180,1,91889,15.62,0.0,178236
Argentina,24180,3073,39699624,112.13,0.0,179772
Armenia,24180,74,2795335,45.28,0.0,45300
Australia,24180,3027,22240785,154.18,0.0,727872
Austria,24180,1251,8219386,194.62,0.0,557808
...,...,...,...,...,...,...
Turkmenistan,24180,133,4886514,28.48,0.0,87912
Ukraine,24180,7574,40345446,244.72,0.0,27072
United Kingdom,24180,4910,61082942,86.74,0.0,566880
United States,24180,44189,300078511,175.41,0.0,724644
Uruguay,24180,630,3190795,270.02,0.0,200352

In [26]:
## Creating my variables

# Population
countryPOP = cP['population']

# Total Suicide Number
countrySuiNum = cP['suicides_no']

# Suicides per 100k Population
countrySuiPer_100k = cP['suicides/100k pop']

# Individual Countries GDP for the year 2015
cP2 = suidice2.groupby('country').mean()
countryGDP_1year = cP2[' gdp_for_year ($) ']

# Individual Countries GDP per Capita
countryGDP_pCap = cP2['gdp_per_capita ($)']

In [29]:
# Creating a Dictionary with this information zipped together
Suicide_Rates = {
    "Population":countryPOP,
    "Total Number of Suicides":countrySuiNum,
    "Number of Suicides per 100K Population":countrySuiPer_100k,
    "GDP for 2015":countryGDP_1year,
    "GDP per Capita":countryGDP_pCap.astype(int)
}

In [30]:
# Make a dataframe out of that dictionary
Suicide_Rates_Data = pd.DataFrame(Suicide_Rates)
Suicide_Rates_Data

,Population,Total Number of Suicides,Number of Suicides per 100K Population,GDP for 2015,GDP per Capita
country,,,,,
Antigua and Barbuda,91889,1,15.62,1.364863e+09,14853
Argentina,39699624,3073,112.13,5.947493e+11,14981
Armenia,2795335,74,45.28,1.055334e+10,3775
Australia,22240785,3027,154.18,1.349034e+12,60656
Austria,8219386,1251,194.62,3.820659e+11,46484
...,...,...,...,...,...
Turkmenistan,4886514,133,28.48,3.579963e+10,7326
Ukraine,40345446,7574,244.72,9.103096e+10,2256
United Kingdom,61082942,4910,86.74,2.885570e+12,47240
United States,300078511,44189,175.41,1.812071e+13,60387
Uruguay,3190795,630,270.02,5.327430e+10,16696

In [31]:
Suicide_Rates_Data.to_csv("Resources/Suidice_Rate_Data/cleaned_data.csv")